<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <title>Mahdi Karimi</title>
</head>

<body style="background-color: #008081;">
    <main id="app">
        <div class="col">
            <div class="window" style="width: 300px" id="about">
                <div class="title-bar">
                    <div class="title-bar-text">About me</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>My name is <strong>Mahdi Karimi</strong> and I study computer engineering at Nooshirvani
                        Institute of
                        technology.</p>
                    <p>I'm interested in front-end web development and have experience working with HTML, CSS libraries
                        such
                        tailwindCSS, bootstrap and bulma, VueJs and NuxtJs.</p>
                    <p>I love building computers, tinkering around with open-source hardware like Arduino as well as
                        contributing to
                        open-source
                        software.</p>
                    <button disabled>Download full Curriculum Vitae</button>
                </div>
            </div>
            <div class="window" style="width: 300px" id="MediaPlayer">
                <div class="title-bar">
                    <div class="title-bar-text">Hello world!</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body" style="margin: 0;">
                    <img src="giphy.gif" style="width: 100%;" alt="">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="window" style="width: 300px" id="email">
                <div class="title-bar">
                    <div class="title-bar-text">Projects</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <ul>
                        <li>Robio.ir | My web development team</li>
                        <li>Emergency Storage Management System SPA</li>
                        <li>Curli.ir | cut your links!</li>
                        <!-- <li>RedisGUI (under development)</li> -->
                        <li>Themer Studio (under development)</li>
                    </ul>
                </div>
            </div>
            <div class="window" style="width: 300px" id="email">
                <div class="title-bar">
                    <div class="title-bar-text">mailer.exe</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>Feel free to ask questions or send bussinesss inqueries via email using this window </p>
                    <div class="field-row-stacked" style="width: 280px">
                        <input id="text18" type="text" placeholder="Message subject" v-model="email.subject" />
                    </div>
                    <div class="field-row-stacked" style="width: 280px; margin-bottom: 10px;">
                        <textarea id="text20" rows="8" placeholder="Message ... " v-model="email.text"></textarea>
                    </div>
                    <button><a :href="mailto">Send Email</a></button>
                </div>
            </div>
            <div class="window" style="width: 300px" id="contactInfo">
                <div class="title-bar">
                    <div class="title-bar-text">Contact information</div>
                    <div class="title-bar-controls">
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p style="display:flex;align-items:center"><img
                            src="https://win98icons.alexmeub.com/icons/png/envelope_closed-1.png" alt=""
                            style="margin-right: 5px;">
                        Mhdi_kr@outlook.com
                    </p>
                    <p style="display:flex;align-items:center"><img
                            src="https://win98icons.alexmeub.com/icons/png/envelope_closed-1.png" alt=""
                            style="margin-right: 5px;">
                        <a href="https://t.me/Mhdi_kr_99">Telegram</a>
                    </p>
                    <p style="display:flex;align-items:center"><img
                            src="https://win98icons.alexmeub.com/icons/png/envelope_closed-1.png" alt=""
                            style="margin-right: 5px;">
                        <a href="https://github.com/Mhdi-kr">Github</a>
                    </p>
                    <p style="display:flex;align-items:center"><img
                            src="https://win98icons.alexmeub.com/icons/png/envelope_closed-1.png" alt=""
                            style="margin-right: 5px;">
                        <a href="https://www.linkedin.com/in/mhdi-kr/">Linkedin</a>
                    </p>

                </div>
            </div>
        </div>

    </main>
    <style>
        body {
            line-height: 1.5em !important;
        }

        .window {
            margin: 5px;
        }

        @media only screen and (max-width: 600px) {
            #app {
                display: flex;
                justify-content: center;
                align-items: center !important;
                flex-direction: column !important;
            }
        }

        #app {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: row;
        }

        .col {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        p {
            font-family: 'tahoma' !important;
            font-size: 1.1em;
        }

        ul {
            padding-left: 2em;
            font-family: 'tahoma' !important;
            font-size: 1.1em;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: () => ({
                email: {
                    subject: '',
                    text: ''
                },
            }),
            computed: {
                mailto: {
                    get: function () {
                        return `mailto:mhdi_kr@outlook.com?subject=${this.email.subject}&body=${this.email.text}`
                    }
                },
            }
        })
    </script>
</body>

</html>