@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-blog {
    background-color: #393E46;  
}
.text-secondary-blog {
    color: #00B4DB;
}
body {
    background-color: #222831;
    color: #EEEEEE;
}

@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
.font-oleo {
    font-family: "Oleo Script";
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
.font-lato {
    font-family: "Lato", sans-serif;
}

/* https://github.com/lonekorean/gist-syntax-themes */
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/d49b91b3/stylesheets/one-dark.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

h3 {
    @apply text-xl mb-1;
}
p {
    @apply mb-2 font-light text-gray-300;
}